@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}

img {

    border-radius: 20px;
    width: 400px;
    height: 400px;

}


.upper-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    
}

.lower-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.box {
    
    
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px transparent;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    box-shadow: 20px 20px 50px grey;

}

@media (min-width: 1440px) {
    .box {
    
    
        background-color: hsl(0, 0%, 100%);
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        border: 1px transpa
        nt;
        border-radius: 20px;
        padding: 20px;
        width: 400px;
        box-shadow: 20px 20px 50px grey;
    
    }
}